<div id="application">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <span id="notification" style="display:none;"></span>
        <h2>List of Items</h2>
      </div>
    </div>
    <div id="example">
      <div class="demo-section k-content wide">
        <div class="row">
          <div  class="col-5" 
                data-role="listview" 
                data-template="list-view-template" 
                data-bind="source: items">
          </div>
          <div class="col-3 cart">
            <div class="cartChart">
              <h4>Cart</h4>
              <ul data-role="listview" 
                data-template="cart-list-view-template" 
                data-bind="source: cartItems">
              </ul>              
              <div class="row">
                <div class="col-12">
                  <label>Total:</label>
                  </br>
                  <p data-bind="text: totalSum">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notifications Templates -->

<script id="notiTemplate" type="text/x-kendo-template">
  <div class="new-noti">      
    <h3>#= title #</h3>
    <p>#= message #</p>
  </div>
</script>

<script id="errorTemplate" type="text/x-kendo-template">
  <div class="wrong-pass">          
    <h3>#= title #</h3>
    <p>#= message #</p>
  </div>
</script>
    
<!-- Items Cart List -->
<script type="text/x-kendo-template" id="cart-list-view-template">
  <li>    
    <span>#:Name#</span>&nbsp;&nbsp;<span>#:kendo.toString(Price, "c")#</span>&nbsp;&nbsp;<span>#:Qtty#</span>
  </li>
</script>  

<!-- ListView Template -->
<script type="text/x-kendo-template" id="list-view-template">
    # var availability = Availability;#
     # console.log(availability);#
      <div class="row">
        <div class="col-12">
          <div class="item">
            <div class="row">
              <div class="col-4">
                <h3>#:Name#</h3>
                <h3>#:Id#</h3>
                <h3>#:Category#</h3>
                <h3>Stock: <span class="stock-lb">#:Stock#</span></h3>
                <p>#:kendo.toString(Price, "c")#</p>
                #if(availability){#
                  <p class="green">Available</p>
                #}else{#
                  <p class="red">Not Available</p>
                #}#
              </div>
              <div class="col-5">
                #if(availability){#
                  <button id="iButton" class="k-button increaseItem" data-bind="click: clickInc">+</button>
                  <input value="0" class="inputQtty" type="number" title="numeric" style="height: 26px;" min="0" max="#:Stock#" />
                  <button id="dButton" class="k-button decreaseItem" data-bind="click: clickDec }" disabled>-</button>
                #}else{#
                  <button id="iButton" class="k-button increaseItem" data-bind="click: clickInc" disabled >+</button>
                  <input value="0" class="inputQtty" type="number" title="numeric" style="height: 26px;" min="0" max="#:Stock#" />
                  <button id="dButton" class="k-button decreaseItem" data-bind="click: clickDec }" disabled >-</button>
                #}#
              </div>
            </div>
          </div>
        </div>        
      </div>
</script>

<!-- Script -->
<script>
  // Notification
  var notification = $("#notification").kendoNotification({
      position: {
          pinned: true,
          top: 30,
          right: 30
      },
      autoHideAfter: 0,
      stacking: "down",
      templates: [{
          type: "info",
          template: $("#notiTemplate").html()
      },{
          type: "error",
          template: $("#errorTemplate").html()
      }]
  }).data("kendoNotification");

  // DataSource Items
  var dataSourceItems = new kendo.data.DataSource({
        data: [
                { 
                  "Id":"878637-010",
                  "Name":"ZOOM KD 9 ELITE HYPER ORANGE",
                  "Category": "Basketball",
                  "Stock":15,
                  "Price":2899.00,
                  "Availability": true
                },
                { 
                  "Id":"852405-004",
                  "Name":"LEBRON XIV",
                  "Category": "Basketball",
                  "Stock":10,
                  "Price":3699.00,
                  "Availability": true
                },
                { 
                  "Id":"881465-120",
                  "Name":"JORDAN FORMULA 23",
                  "Category": "Basketball",
                  "Stock":5,
                  "Price":2399.00,
                  "Availability": true
                },
                { 
                  "Id":"852422-601",
                  "Name":"ZOOM REV 2017",
                  "Category": "Basketball",
                  "Stock":0,
                  "Price":1999.00,
                  "Availability": false
                },
                { 
                  "Id":"852473-600",
                  "Name":"MAMBA INSTINCT",
                  "Category": "Basketball",
                  "Stock":0,
                  "Price":1799.00,
                  "Availability": false
                },
                { 
                  "Id":"917391-010",
                  "Name":"PLAYERA DRY KD",
                  "Category": "Shirts",
                  "Stock":20,
                  "Price":549,
                  "Availability":true
                },
                { 
                  "Id":"843130-477",
                  "Name":"PLAYERA AIR JORDAN 23",
                  "Category": "Shirts",
                  "Stock":40,
                  "Price":549.00,
                  "Availability":true
                },
                { 
                  "Id":"831348-100",
                  "Name":"SHORT ULTIMATE FLIGHT",
                  "Category": "Shorts",
                  "Stock":10,
                  "Price":899.00,
                  "Availability": true
                },
                { 
                  "Id":"836277-457",
                  "Name":"SHORT FT GX FRANCHISE",
                  "Category": "Shorts",
                  "Stock":10,
                  "Price":849,
                  "Availability":true
                },
                { 
                  "Id":"1281295-002",
                  "Name":"SHORT SC30 TOP GUN",
                  "Category": "Shorts",
                  "Stock":5,
                  "Price":799,
                  "Availability": true
                },
              ]      
  });
  
  // DataSource Total
  var dataSourceCart = new kendo.data.DataSource({aggregate: [{ field: "Price", aggregate: "sum" }] });
  
  // Validator
  var kendoValidator;

  // Kendo Observable
  var viewModelListview = kendo.observable({ 
    cartItems: dataSourceCart,       
    items: dataSourceItems,   
    totalSum: 0, 
    clickInc : function(e){      
      kendo.culture("en-US");        
      var id = e.data.Id;
      var name = e.data.Name;
      var price = e.data.Price;      
      if(e.data.Stock == 0 ){        
        notification.show({ title: "Not Available!", message: "Out of Stock!"}, "error");
        e.target.disabled = true;
      }else{
        var stock = e.data.Stock;
        e.data.Stock = e.data.Stock - 1;
        if(e.data.Stock == 0){
          e.data.Availability = false;          
          e.target.parentElement.parentElement.children[0].children[5].textContent = "Not Available";
        }
        e.target.nextElementSibling.value = Number(e.target.nextElementSibling.value) + 1
        if(dataSourceCart.get(id)){          
          dataSourceCart.get(id).Qtty += 1;
        }else{          
          dataSourceCart.add({ id: id, Name: name, Price: price, Qtty: 1})
        }
        dataSourceCart.sync

        dataSourceCart.fetch(function(){
          var data = dataSourceCart.data();
          var sum = 0;          
          data.forEach(function(item) {            
            sum += (item.Price * item.Qtty);
            viewModelListview.set("totalSum", kendo.toString(sum, "c"));
          });                          
        });      
        e.target.parentElement.parentElement.children[0].children[3].textContent = "Stock: " + e.data.Stock; 
        e.target.nextElementSibling.nextElementSibling.disabled = false

        notification.show({ title: "Cart Updated!", message: "New item has been added!"}, "info");
      }            
      
    },
    clickDec: function(e){
      kendo.culture("en-US");      
      var id = e.data.Id;
      var name = e.data.Name;
      var price = e.data.Price;
      var stock = e.data.Stock;
      e.data.Stock = e.data.Stock + 1
      dataItem = dataSourceCart.get(id);
      if(dataSourceCart.get(id) && dataSourceCart.get(id).Qtty > 1){          
        dataSourceCart.get(id).Qtty -= 1;
        e.target.previousElementSibling.previousElementSibling.disabled = false;
        e.target.parentElement.parentElement.children[0].children[5].textContent = "Available";
      }else{          
        dataSourceCart.remove(dataItem);
        viewModelListview.set("totalSum", 0);
      }
      
      dataSourceCart.fetch(function(){
        var data = dataSourceCart.data();
        var sum = 0;        
        data.forEach(function(item) {                        
          sum += (item.Price * item.Qtty);
          viewModelListview.set("totalSum", kendo.toString(sum, "c"));
        });                        
      });      
      e.target.previousElementSibling.value = Number(e.target.previousElementSibling.value) - 1
      e.target.parentElement.parentElement.children[0].children[3].textContent = "Stock: " + e.data.Stock;      
      if( e.target.previousElementSibling.value == 0 ){                  
        e.target.disabled = true;
      }                            
      notification.show({ title: "Cart Updated!", message: "Item has been removed!"}, "error");
    }
  });    
  
  // Binding
  kendo.bind($("#example"), viewModelListview);  
</script>